body {
    margin: 0;
    font-family: 'Open Sans';
    background-color: $dark-blue-main-bg;
    color: #fff;
    font-size: 14px;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 1rem;
}

.btn {
    border: none;
    outline: none;
}

.get-started {
    background-color: $blue;
    color: #fff;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 16px;
    padding: 1rem;
    width: 100%;
    border-radius: 30px;
}


@media(min-width: 1000px) {
   .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
   }
}