.header-site {
    background-color: $dark-blue-intro-email-sign-up-bg;
    padding: 1rem 0;
}

.header-site__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        max-width: 100px;
    }

    ul {
        display: flex;
        gap: 1rem;
        align-items: center;

        @media (min-width: 800px) {
            gap: 3rem
        }

        a {
            color: rgba($color: #fff, $alpha: 0.6);
            text-transform: capitalize;
        }

        a:hover,
        a:active {
            color: #fff;
            text-decoration: underline;
        }
    }

}